* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #202124;
}

@import 'partials/header';

@import 'partials/home';

@import 'partials/comic';

@import 'partials/footer';