* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #202124;
}

header {
  text-align: center;
  margin: 50px;
  color: #fff;
}

#comics-home {
  color: #fff;
  text-align: center;
}

#comics-home h1 {
  margin: 20px;
}

#comics-home ul {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 5% 0 5%;
}

#comics-home li {
  height: 150px;
  width: 14.2857142857%;
  display: inline-block;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#comics-home a {
  color: #202124;
  text-decoration: none;
}

#comics-details {
  color: #fff;
  margin: 50px;
}

#comics-details a {
  display: block;
  color: #fff;
  margin-top: 50px;
  text-decoration: none;
  text-align: center;
}

footer {
  text-align: center;
  margin: 50px;
  color: #fff;
}

